@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
    color: #fff;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
}

.nav_list,
.toggle_nav_list {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    gap: 25px;
}

.toggle_nav_list {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 55px;
    transition: 0.3s;
}

.nav_icons,
.toggle_nav_icons {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    gap: 25px;
}

.toggle_nav_icons {
    position: absolute;
    top: 254px;
    justify-content: center;
    height: 100%;
    bottom: 0;
    width: 100%;
}

.logo {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.nav_icons li,
.toggle_nav_icons li {
    list-style: none;
    font-size: 22px;
}

.nav_list li,
.toggle_nav_list li {
    list-style: none;
}


.nav_list li a,
.toggle_nav_list li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
}

.nav_list li a::after,
.toggle_nav_list li a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background-color: #fff;
    transition: 0.3s;
}

.activeLink::after {
    content: '' !important;
    display: block !important;
    width: 100% !important;
    height: 2px !important;
    background-color: #fff !important;
}

.nav_list li a:hover::after,
.toggle_nav_list li a:hover::after {
    width: 100%;
}

.cart {
    position: relative;
}

.cart .cart_count {
    position: absolute;
    top: -7px;
    right: -15px;
    background-color: red;
    color: white;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
}

.toggle_btn {
    display: none;
}

@media only screen and (max-width: 790px) {
    .nav_list {
        display: none;
    }

    .nav_icons {
        display: none;
    }

    .toggle_btn {
        display: block;
    }
}