@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: black;
}

a:hover {
  color: black;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background-color: #ffffffe6;
}

::-webkit-scrollbar-thumb {
  background-color: #ed5b5b;
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}