.not-found{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100Vh;
}
.not-found img{
    width: 600px;
}
@media (max-width:768px) {
    .not-found img{
        width: 80%;
    }
}